@import './Config';

.prodlist {
  @include flex(column);
  width: 100%;
  height: 100%;
}

.prodlist-center {
  @include flex(columnn, center, center);
  width: 100%;
  height: 100%;
}

.prodlist__products {
  width: max-content;
  display: grid;
  grid-template-columns: auto auto auto;
}

.prodlist__header {
  margin-top: 30px;
  font-weight: 400;
  font-size: 2.5rem;
}

@media (max-width: 1035px) {
  .prodlist {
    align-items: center;
  }

  .prodlist__products {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 700px) {
  .prodlist__products {
    grid-template-columns: auto;
  }
}

@media (max-width: 430px) {
  .prodlist__header {
    font-size: 9vw;
  }
}
