@import './Config';

.card {
  width: 303px;
  @include flex(column);
  position: relative;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px;
}

.card a {
  text-decoration: none;
  color: #000;
}

.card:nth-of-type(3n) {
  border-right: 0;
}

.card__name {
  font-size: 1.5rem;
  height: 48px;
}

.card__img:hover {
  cursor: pointer;
}

.card__discount {
  @include flex(row, center, center);
  background-color: #ff691e;
  color: #fff;
  width: 56px;
  height: 33px;
  font-weight: 700;
  position: absolute;
  top: 250px;
  right: 10px;
}

.card button {
  background-color: $primary-blue;
  color: #fff;
  border-radius: 0;
  margin-top: 14px;
  width: 100%;
  &:hover {
    background-color: $primary-blue;
  }
}

.card__newprice {
  font-weight: 700;
  font-size: 20px;
}

.card__oldprice {
  text-decoration: line-through;
}

.card p:nth-of-type(2) {
  color: #8c8c8c;
  margin-top: 7px;
}

.card:last-of-type {
  border-right: 0;
}

.card__freight {
  color: #04d483;
  margin-top: 7px;
  font-weight: 500;
}

.card__installment {
  font-weight: 400;
  height: 24px;
}

.card p {
  line-height: 24px;
  margin: 0;
}

@media (max-width: 1035px) {
  .card:nth-of-type(3n) {
    border-right: 1px solid #e6e6e6;
  }

  .card:nth-of-type(2n) {
    border-right: 0;
  }
}

@media (max-width: 700px) {
  .card {
    border-right: 0;
  }
  .card:nth-of-type(3n) {
    border-right: 0;
  }
}
